In [3]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1

a  1    0.344198
   2    0.457360
   3   -0.493189
b  1   -1.433967
   2   -0.481543
c  3    1.696032
   1   -0.777255
d  2   -1.018673
   3   -0.248341
dtype: float64

In [4]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
s1.index.names = ['key1','key2']
s1

key1  key2
a     1       0.344198
      2       0.457360
      3      -0.493189
b     1      -1.433967
      2      -0.481543
c     3       1.696032
      1      -0.777255
d     2      -1.018673
      3      -0.248341
dtype: float64

In [6]:
s1.unstack(level='key1')

key1         a         b         c         d
key2
1     0.344198 -1.433967 -0.777255       NaN
2     0.457360 -0.481543       NaN -1.018673
3    -0.493189       NaN  1.696032 -0.248341

In [7]:
s1.unstack(level='key2')

key2         1         2         3
key1
a     0.344198  0.457360 -0.493189
b    -1.433967 -0.481543       NaN
c    -0.777255       NaN  1.696032
d          NaN -1.018673 -0.248341