In [3]:
import pandas as pd
data = {"字串":["台北", "台中"],
        "整數":[1000, 3000],
        "浮點數":[3.258, 7.396]}

df = pd.DataFrame(data)
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [10]:
#視覺美化資料表
#pip install jinja2
df.style\
.format(precision=2,thousands=",",decimal=".")\
.relabel_index(["列1","列2"])

In [14]:
import numpy as np
data = np.random.rand(10,2) * 5
df = pd.DataFrame(data,
                  index = pd.date_range(start="2023-09-01",periods=10),
                  columns=["台北","台中"]
                  )
df

                  台北        台中
2023-09-01  1.499472  3.342706
2023-09-02  1.443855  2.239174
2023-09-03  3.249123  3.567730
2023-09-04  4.441857  2.226071
2023-09-05  0.602661  2.628878
2023-09-06  0.765488  1.817911
2023-09-07  2.622773  3.840575
2023-09-08  1.498840  3.328897
2023-09-09  1.966421  4.797397
2023-09-10  3.446560  3.803554