In [1]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    0.089978
   2    0.951056
   3   -0.072559
b  1    1.400025
   2    0.085053
c  3   -0.163931
   1    0.007508
d  2    1.733888
   3    0.387465
dtype: float64

In [2]:
data['a']

1    0.089978
2    0.951056
3   -0.072559
dtype: float64

In [3]:
data['b']

1    1.400025
2    0.085053
dtype: float64

In [5]:
data.unstack()

          1         2         3
a  0.089978  0.951056 -0.072559
b  1.400025  0.085053       NaN
c  0.007508       NaN -0.163931
d       NaN  1.733888  0.387465

In [6]:
data.unstack().stack()

a  1    0.089978
   2    0.951056
   3   -0.072559
b  1    1.400025
   2    0.085053
c  1    0.007508
   3   -0.163931
d  2    1.733888
   3    0.387465
dtype: float64

In [8]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape((4,3)),
             index=[['a','a','b','b'],[1, 2, 1, 2]],
             columns=[['台北','台北','台中'],['Green','Red','Green']])
frame

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11